<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Alex Scher">
        <meta name="viewreport" content="width=device-width, initial-scale=1.0">
        <title>Boogle</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/boogle_style.css">
    </head>
    <body>
        <div class="nav">
            <a href="#">Bmail</a>
            <a href="#">Slike</a>
            <img src="/static/img/g-menu.png">
            <button>Prijava</button>
        </div>

        <div class="middle">
         <div class="logo">
             <img src="https://storage.googleapis.com/smartninja/boogle-1614873832.jpeg" width="272" height="92">
         </div>
         <div id="search-container">
            <input id="box" type="text">
             </div>
                </div>

        <div class="buttons">
            <button>Iskanje Boogle</button>
            <button>Klik na Srečo</button>
        </div>

        <div class="bottom">
                <ul class="left-links">
                    <li><a href="#">Predstavitev</a></li>
                    <li><a href="#">Oglaševanje</a></li>
                    <li><a href="#">Posel</a></li>
                    <li><a href="#">Kako deluje Iskanje Boogle</a></li>
                </ul>
                <ul class="right-links">
                    <li><a href="#">Zasebnost</a> </li>
                    <li><a href="#">Pogoji</a> </li>
                    <li><a href="#">Nastavitve</a> </li>
                </ul>
        </div>
    </body>
</html>